/* :global html {
  height: 100%;
}

:global body,
:global #root {
  min-height: 100%;
} */

.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}
